@use '../../../styles/constants' as constants;
@use '../../../styles/mixins' as mixins;

.table-container {
    position: relative;
    min-width: 0;
    
    table{
        width: 100%;
        border-collapse: collapse;  
        table-layout: fixed;
        box-shadow: constants.$box-shadow-soft;
        
            border-radius: constants.$radius-md ;

        thead {
            background-color: constants.$primary;
            color: constants.$white;

            tr {

                th {
                    padding: 0.75rem 2rem;
                    text-align: left;
                    font-weight: 400;
                    font-size: 0.875rem;;
                }

                th:first-child {
                    border-top-left-radius: constants.$radius-md;
                }
                th:last-child {
                    border-top-right-radius: constants.$radius-md;
                }

                
            }

            
        }

        tbody {
            tr{
                td{
                    padding: 0.85rem 2rem;
                    text-align: left;
                    font-weight: 400;
                    font-size: 0.875rem;;
                }

                td:first-child {
                    font-weight: 500;;
                }

                &:nth-of-type(odd) > td {
                    background-color: white;
                }
                &:nth-of-type(even) > td {
                    background-color: constants.$primary-ultra-light;
                }

                transition-duration: 0.1s;

                &.onRowClick:hover {
                    cursor: pointer;
                    scale:1.004
                }
            }

        }


        tfoot {
            @include mixins.flex-center(flex-start, center,1rem);
            padding: 0.75rem 1rem;

        .pagination {
            display: flex;
            
            
            .pagination-button {
                background-color: transparent;
                border: none;
                // font-size:1rem;
                font-weight: 600;
                color: constants.$primary;

                &:hover {
                    cursor: pointer;
                }

                &.disabled {
                    color: constants.$primary-light;
                    cursor: not-allowed;
                }

                &.side-page {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: constants.$primary-ultra-light;
                }
            }
            .actual-page{
                    background-color: constants.$primary;
                    color: white;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    margin: 0 0.5rem;
                }

            .separator{
                margin-top: 3px;
                padding: 0 0.25rem;

            }
        }
    }
}}