@mixin flex-center($justify: center, $align: center, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin column-center($justify: center, $align: center, $gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap
}