@use './constants' as constants;
@use './mixins' as mixins;

html {
    font-size: 16px;
    color: constants.$gray-700;
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: constants.$background;
}

#root {
    min-height: 100vh;
    display: flex;
    min-width: 0;
    flex-direction: row;
}

main {
    flex-grow: 1;
    padding: constants.$spacing-lg constants.$spacing-xl 0rem constants.$spacing-xl;
    box-sizing: border-box;
}

h1 { font-size: 2.5rem; margin: 1rem 0; }      
h2 { font-size: 2rem; margin: 0.75rem 0; }          
h3 { font-size: 1.75rem; margin: 0.5rem 0; }      
h4 { font-size: 1.5rem; margin: 0.5rem 0; }        
h5 { font-size: 1.25rem; margin: 0.5rem 0; }  
h6 { font-size: 1rem; }

p { font-size: 1rem; }         
small { font-size: 0.875rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px constants.$background inset !important;
    box-shadow: 0 0 0 30px constants.$background inset !important;
    -webkit-background-clip: text;
}